@import "base.scss";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: plus jakarta sans;
    min-height: 100vh;
    background: url(../img/fondo_index.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 3em;
    width: 100%;
}

p{
    color: $blanco;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*---------------------NAVBAR---------------------*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px);
    z-index: 100;
    
}

.header::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
    z-index: -1;
}

.logo{
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check{
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: aliceblue;
    cursor: pointer;
    display: none;
}

/*BREACKPOINTS*/

@media(max-width: 992px) {
    .header{
        padding: 1.3rem 5%;
    }
}

@media(max-width: 768px) {
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(20px);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
    }
}